* {
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 50%;
}

.frame {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 2px solid green;
    border-radius: 10%;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .frame {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

.text {
    background-color: green;
    color: aliceblue;
    font-size: 16px;
    padding: 16px 32px;
}