/* * {
    box-sizing: border-box;
} */

html {
    scroll-behavior: smooth;
}

.container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
    position: relative;
}

#frame {
    position: absolute;
    width: 22vw;
    /* height: 24vw; */
    display: inline;
}

#frameOverlay {
    filter: hue-rotate(0deg) saturate(0);
    display: block;
    z-index: 2;
    width: 27vw;
}